b,strong{
    font-weight: 900;
}

.hidden{
    display: none;
}

.flex{
    display: flex;
    @include tablet{
        flex-direction: column;
    }
}
.mt-11{
    margin-top:11rem;
}
.mt-10{
    margin-top:4rem;
}
.mt-8{
    margin-top:8rem;
}
.mb-10{
    margin-bottom:4rem;
}
.font-size-4rem{
    font-size: 4rem;
}
.font-900{
    font-weight: 900;
}
.justify-space{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.color-darkgray{
    color:$darkGray;
}
.bg-blanco{
    background-color: $blanco;
}

.hidden-desktop{
    display: none!important;
    @include tablet{
        display: block!important;
    }
}

.hidden-mobile{
    display: block!important;
    @include tablet{
        display: none!important;
    }
}