$fuentePrincipal:  'Lato', sans-serif;
//Colores
$blanco: #ffffff;
$negro: #000000;
$gris:#cdcdcd;
$darkGray:#3b3b3b;
$amarillo: #d2a0ff;
$cafe:#8800ff;
$gris-claro:#eeeeee;
$darkGray:rgb(28 28 28);
//Pesos
$thin:100;
$medium:300;
$bold:600;
$black:800;


//Mediaqueries
$telefono: 480px;
$tablet: 768px;
$desktop:920px;
$desktop_large:1200px;