.principal{
    position:relative;
    min-height: 550px;
    justify-content: space-between;
    align-items: flex-end;
    @include tablet{
        min-height:auto;
    }
    h1{
        z-index: 12;
        width: 100%;
        color: $darkGray;
        font-weight: 600;
        font-size: 3rem;
        text-align: left;
        @include tablet{
            font-size: 2rem;
            padding: 4rem;
        }
    }
    img{
        max-width: 400px;
        border-radius: 50%;
    }
    p{
        font-size: 1.3rem;
    }
    .nav-hero{
        ul{
            list-style: none;
            margin:0;
            padding: 0;
            li{
                font-size: 10rem;
                a{
                    text-decoration: none;
                    font-weight: 800;
                    color:$negro;
                    &:hover{
                        font-style: italic;
                        padding: 0 .5rem;
                    }
                }
            }
        }
    }
}

.description{

    &.text{
        p{ 
            width: 56.66667vw;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.875rem;
            line-height: 1.8;
            @include tablet{
                width: 90%;
            }
        }
    }
}